<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>


<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <a class="logo" href="/">
            <img src="/assets/images/solar/logo-dark.svg" height="24" class="logo-light-mode" alt="">
            <img src="/assets/images/solar/logo-white.svg" height="24" class="logo-dark-mode" alt="">
        </a>

        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <ul class="buy-button list-inline mb-0">
            <li class="list-inline-item sidebar-icon mb-0">
                <a href="javascript:void(0)" onclick="toggleTheme()">
                    <div class="btn btn-icon btn-soft-primary" id="themeswitcher"><i data-feather="moon" class="fea icon-sm"></i>
                    </div>
                </a>
            </li>
            <li class="list-inline-item button mb-0 ps-1">
                <a href="https://github.com/solar-network" target="_blank" class="btn btn-icon btn-primary"><i
                        class="uil uil-github"></i></a>
            </li>

        </ul>

        <div id="navigation">
            <ul class="navigation-menu">
                <li><a href="/" class="sub-menu-item">{{t('h-home')}}</a></li>
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">{{t('h-about')}}</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="/about-solar" class="sub-menu-item"> {{t("h-about-solar")}}</a></li>
                        <li><a href="/roadmap" class="sub-menu-item">{{ t('h-roadmap') }} </a></li>
                        <li><a href="https://docs.solar.org/project/whitepaper/" target="_blank" class="sub-menu-item">{{t('h-whitepaper')}}<span style="color:orangered">*</span> </a></li>
                        <li><a href="/events" class="sub-menu-item">{{t("h-events")}}</a></li>
                    </ul>
                </li>
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">{{t('h-blockchain')}}</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="/core" class="sub-menu-item"> {{t("h-solar-core")}}</a></li>
                        <li><a href="https://solarscan.com" target="_blank" class="sub-menu-item">{{t("h-solar-scan")}}<span style="color:orangered">*</span></a></li>
                        <li><a href="/voting" class="sub-menu-item">{{t("h-voting")}}</a></li>
                    </ul>
                </li>
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">{{t("h-wallets")}}</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="/wallets" class="sub-menu-item">{{t("h-solar-wallet")}}</a></li>
                        <li><a href="/solarcard" class="sub-menu-item">{{t("h-solar-card")}}</a></li>
                    </ul>
                </li>
                <li><a href="/exchanges" class="sub-menu-item">{{t('h-exchange')}}</a></li>
                <!--<li><a href="/banking" class="sub-menu-item">Banking</a></li>-->
                <li><a name="external" onclick="confirmExit(this.name)" href="https://coinmarketcap.com/community/profile/Solar?type=Articles" target="_blank" class="sub-menu-item">{{t("h-blog")}}<span style="color:orangered">*</span></a></li>
                <!--  <li><a href="/shop" target="_blank" name="external" onclick="confirmExit(this.name)" class="sub-menu-item">Shop</a></li>-->
            </ul>
        </div>
    </div>
</header>
