{% extends 'layout.twig' %}

{% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">

{% include "/blocks/header.twig" %}

<section class="comunity-section padding-top padding-bottom oh pos-rel">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">

{% for type, message in messages %}
	{% if (type == 'error') %}
		<div class="alert alert-danger">
			<i class="fa fa-times-circle"></i>
			{{ message }}
		</div>
	{% elseif (type == 'notice') %}
		<div class="alert alert-success">
			<i class="fa fa-check"></i>
			{{ message }}
		</div>
	{% endif %}
{% endfor %}


	<h4 style="margin-bottom:10px;"><a href="/blog/{{ post.id }}">{{ blogItem.title }}</a></h4>
	<hr />
	
	<p style="margin-bottom:30px;"><img src="{{ blogItem.headerimage }}" style="width:90%; margin:auto;"></p>
	<p style="margin-bottom:10px;">{{ blogItem.body }}</p>
	
	<small>Posted by {{blogItem.user}} @ {{ blogItem.postDate }}</small><br />
	<small>Tags: {{blogItem.tags}}</small>
	
	
	<p style="margin-top:40px;"><a href="/blog">Back to Main Blog List</a></p>

			</div>
		</div>
	</div>
</section>

    {% include "/blocks/footer.twig" %}

</body>

{% endblock %}
